/*!
IRAN Sans-serif fonts are considered a proprietary software.
To gain information about the laws regarding the use of these fonts,
please visit www.fontiran.com
---------------------------------------------------------------------
This set of fonts are used in this project under the license: CJ28D
---------------------------------------------------------------------
*/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/fonts/IRANSansWeb(FaNum)_Bold.eot');
  src: url('../../assets/fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/IRANSansWeb(FaNum)_Light.eot');
  src: url('../../assets/fonts/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/IRANSansWeb(FaNum).eot');
  src: url('../../assets/fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}


@font-face {
  font-family: EnIRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/fonts/IRANSansWeb_Bold.eot');
  src: url('../../assets/fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
  font-family: EnIRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/IRANSansWeb_Light.eot');
  src: url('../../assets/fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
  font-family: EnIRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/IRANSansWeb.eot');
  src: url('../../assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
  font-family: DroidSans;
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/DroidSansFallback.eot');
  src: url('../../assets/fonts/DroidSansFallback.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/DroidSansFallback.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/DroidSansFallback.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/DroidSansFallback.ttf') format('truetype');
}
